/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: url(img/bkg.jpg);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  background: #fff;
  box-shadow: 0 0 5px #a2a2a2;
}
@media screen and (min-width: 1080px) {
  body {
    margin: 20px;
  }
}

.container {
  margin: auto;
  max-width: 1080px;
  overflow: auto;
  padding: 0 10px;
  width: 90%;
}

.mwb_head {
  background: url("img/header_bkg_bottom.png") repeat-x scroll 0 100% white;
  clear: both;
  overflow: auto;
}

.head_lt {
  float: left;
}

.head_rt {
  float: right;
  padding: 30px 0 30px 30px;
}

.searchbox {
  border: 3px dashed #f8c6dc;
  float: right;
  padding: 17px;
  width: 340px;
}
.searchbox input {
  background: url("img/search_icon.png") no-repeat scroll 95% center #f1f1f2;
  border: medium none;
  box-sizing: border-box;
  font-size: 20px;
  height: 42px;
  padding: 10px;
  width: 100%;
}

.main_menu {
  float: right;
  font-size: 25px;
  margin: 60px 0 25px;
  text-align: right;
  width: 100%;
}
.main_menu li {
  color: #6d6e70;
  display: inline;
  margin: 0px;
}
.main_menu li:after {
  content: " /";
}
.main_menu li:last-child:after {
  content: none;
}
.main_menu li a {
  color: #6d6e70;
  text-decoration: none;
}
.main_menu li a:hover {
  color: #ba3069;
}

.trail a {
  color: #808284;
}
.trail a:after {
  content: " > ";
}
.trail a:last-child:after {
  content: none;
}

.content {
  float: left;
  margin: 0 auto 25px;
  width: 697px;
}

.c_head {
  border-bottom: 4px solid #808284;
  padding: 25px 0 0;
}

.cat_menu {
  margin: 45px 0 10px;
}
.cat_menu li {
  display: inline-block;
  margin: 0 20px 0 0;
  width: 65px;
}

time {
  display: block;
  padding: 0 0 10px;
}

.post_contain {
  border-bottom: 1px solid #ccc;
  overflow: auto;
  padding: 35px 0 20px;
}
.post_contain:last-child {
  border-bottom: none;
}

.post_img {
  display: block;
  float: left;
  width: 35.581062%;
}
.post_img img {
  width: 240px;
}

.comm {
  background: #709fb1;
  bottom: 100px;
  color: #fff;
  left: 62%;
  padding: 6px 10px;
  position: relative;
}

.post_info {
  float: left;
  padding: 0 0 0 20px;
  width: 64.418938%;
}
.post_info h2 {
  font-size: 26px;
  padding: 15px 0;
}
.post_info p {
  color: #808284;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.post_tags {
  font-family: sans-serif;
  font-size: 12px;
}

.sidebar {
  color: #58585b;
  font-family: sans-serif;
  font-size: 15px;
  float: right;
  line-height: 1.25;
  margin: 0 0 25px;
  width: 250px;
}
.sidebar a {
  color: #709fb1;
}

figcaption {
  margin: 30px 0;
}

.links li {
  float: left;
}

footer {
  line-height: 1.5;
}
footer h3 {
  color: #231f20;
  font-family: serif;
  font-size: 17px;
}

.mwb_foot {
  background: url("img/header_bkg_bottom.png") repeat-x scroll 0 0 white;
  padding: 50px 0 0;
}

.third {
  color: #808284;
  float: left;
  padding: 0 15px 20px 0px;
  font-family: sans-serif;
  font-size: 15px;
  width: 33.3333%;
}
.third a {
  color: inherit;
}
.third a:hover {
  text-decoration: underline;
}

.box_two div {
  float: left;
  width: 50%;
}

.social_icons {
  margin: 20px auto;
}
.social_icons li {
  display: inline;
}
footer .social_icons img {
  width: 32px;
}

.copyright {
  font-size: 12px;
}

/* colors */
.one a {
  color: #009344;
}

.two a {
  color: #00adef;
}

.three a {
  color: #be1e2d;
}

.four a {
  color: #709fb1;
}
