/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

*, *:before, *:after {
  box-sizing: border-box;
}

html{
	background: url(img/bkg.jpg);
}

a{
	text-decoration: none;
}

body{
	background: #fff;
	box-shadow:0 0 5px #a2a2a2 ;
	@media screen and(min-width: 1080px) {

		margin: 20px;
		
	}

}

.container {
    margin: auto;
    max-width: 1080px;
    overflow: auto;
    padding: 0 10px;
    width: 90%;
}

.mwb_head {
    background: url("img/header_bkg_bottom.png") repeat-x scroll 0 100% #fff;
    clear: both;
    overflow: auto;
}

.head_lt {
    float: left;
}

.head_rt {
    float: right;
    padding: 30px 0 30px 30px;
}


.searchbox {
    border: 3px dashed #f8c6dc;
    float: right;
    padding: 17px;
    width: 340px;

	input {
	    background: url("img/search_icon.png") no-repeat scroll 95% center #f1f1f2;
	    border: medium none;
	    box-sizing: border-box;
	    font-size: 20px;
	    height: 42px;
	    padding: 10px;
	    width: 100%;
	}

}


.main_menu {
    float: right;
    font-size: 25px;
    margin: 60px 0 25px;
    text-align: right;
    width: 100%;

	li {
		color: #6d6e70;
	    display: inline;
	    margin: 0px;

	    &:after{
	    	content: " /";

	    }

	    &:last-child:after{
	    		content:none;
	    	}

	    a{
	    	color: #6d6e70;
	    	text-decoration: none;

	    	&:hover{
	    		color:#ba3069;
	    	}
	    }
	}
}


.content {
    float: left;
    margin: 0 auto 25px;
    width: 697px;
}

.c_head {
    border-bottom: 4px solid #808284;
    padding: 25px 0 0;
}

.cat_menu {
    margin: 45px 0 10px;

    li {
	    display: inline;
	}
}

time {
    display: block;
    padding: 0 0 10px;
}

.post_contain {
	border-bottom: 1px solid #ccc;
	overflow: auto;
    padding: 35px 0 20px;
}

.post_img {
    display: block;
    float: left;
    width: 27.2597%;
}

.post_info {
    float: left;
    padding: 0 0 0 80px;
    width: 72.7403%;

    h2 {
	    font-size: 26px;
	    padding: 15px 0;
	}

	p {
		color: #808284;
	    font-family: sans-serif;
	    font-size: 15px;
	    line-height: 1.5;
	}
}

.post_tags{
	font-family: sans-serif;
	font-size: 12px;
}

.sidebar {
    float: right;
    margin: 0 0 25px;
    width: 250px;
}

footer{
	line-height: 1.5;

	h3 {
	    color: #231f20;
	    font-family: serif;
	    font-size: 17px;
	}
} 

.third {
	color: #808284;
    float: left;
    padding: 0 15px 20px 0px;
    font-family: sans-serif;
    font-size: 15px;
    width: 33.3333%;
}

.box_two{

	div {
	    float: left;
	    width: 50%;
	}
} 


.social_icons{

	margin: 20px auto;

	li {
	    display: inline;

	}

	footer & {

		img{
			width: 32px;
		}
	}
} 

.copyright {
    font-size: 12px;
}

